.contact-us {
    padding:4rem 2rem;

    .text-center {
        li {
            padding-bottom: 1rem;

            i {
                padding-bottom: 1rem;
                font-size: 1.5rem;
            }
        }
    }
}