.footer {
    padding: 2rem 0;
    .footer-wrapper {
        flex-wrap: wrap;
    
        .footer-contact-address {
            margin:2rem 0;
            h5 {
                margin-bottom: 2rem;
            }

            ul {
                li {

                    i,
                    p {
                        display: inline-block;
                    }

                    i {
                        width:1rem;
                        height: 1rem;
                        font-size: 1.2rem;
                        margin-right: 0.6rem;
                        opacity: .6;
                    }

                }
            }
            
        }

        .footer-navigation {
            margin: 2rem 0;
            h5 {
                margin-bottom: 2rem;
            }
            
            li {
                padding-bottom: 1.5rem;
                text-align: right;

                a {
                    color: inherit;
                }
            }
        }
    }
}

@include respond(e-reader) {
    .footer {
        .footer-wrapper {
            justify-content: center !important;
            text-align: center;

            .footer-contact-addres,
            .footer-navigation {
                width: 100%;
            }

            ul li {
                text-align: center !important;
            }
        }
    }
}


.footer-bottom {
    background: black;
    padding:1rem 0;

    p {
        text-align: center;
        color: rgb(255, 250, 244);
    }
}