.footer {
    padding: $l 0;
    .footer-wrapper {
        flex-wrap: wrap;
    
        .footer-contact-address {
            margin:$l 0;
            h5 {
                margin-bottom: $l;
            }

            ul {
                li {

                    i,
                    p {
                        display: inline-block;
                    }

                    i {
                        width:$sm;
                        height: $sm;
                        font-size: $sm-md;
                        margin-right: $xs * 2;
                        opacity: .6;
                    }

                }
            }
            
        }

        .footer-navigation {
            margin: $l 0;
            h5 {
                margin-bottom: $l;
            }
            
            li {
                padding-bottom: $md;
                text-align: right;

                a {
                    color: inherit;
                }
                a:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

@include respond(e-reader) {
    .footer {
        .footer-wrapper {
            justify-content: center !important;
            text-align: center;

            .footer-contact-addres,
            .footer-navigation {
                width: 100%;
            }

            ul li {
                text-align: center !important;
            }
        }
    }
}


.footer-bottom {
    background: $tertiary;
    padding:$sm 0;

    p {
        text-align: center;
        color: rgb(255, 250, 244);
    }
}
