.hero-small {
        // background-image: url(/media/hero-bg-02-01.svg);
        background: lighten($color: $primary-light, $amount: 6%);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    min-height: 60vh;
    display: flex;
    align-items: center;

    &__text {
        h1 {
            margin-top: 4rem;
        }
        p {
            margin-top: -0.5rem;
        }
    }
}

@include respond(tablet) {
    .hero-small {
        &__text {
            h1 {
                line-height: 1;
                font-size: 5.38rem * 0.8;
                margin-bottom: 1rem;
            }


        }
    }
}