.featured-wrapper {
    text-align: center;
    padding: 4rem 1rem;

    .featured {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;
        grid-auto-rows: auto;
        margin: 2rem auto;

        #carouselProductsArrivals,
        #carouselProductsCategories {
            display: none;
        }

        &__product {
            @include productCard;

            a {
                
                img {
                    height: 16rem;
                    object-fit: cover;
                    // width: 100%;
                }

                .overlay {
                    p {
                        text-align: center;
                    }
                }
            }
            
        }

        a {
            position: relative;

            @include overlay;
            .overlay {
                p {
                    color: $light;
                }
            }
        }

        a:hover .overlay {
            opacity: 1;
        }
    }
}

@include respond(tablet-sm) {
    .featured {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@include respond(e-reader) {
    .top_categories {
        margin-top: 2em;
    }
    .featured-wrapper {
        .featured {
            display: flex;

            .single-card {
                display: none;
            }

            #carouselProductsArrivals,
            #carouselProductsCategories {
                display: inherit !important;

                .carousel-indicators {
                    margin-bottom: -2rem;

                    button {
                        background-color: $primary-text-color;
                    }
                }

                .carousel-control-next-icon,
                .carousel-control-prev-icon {
                    background-image: none !important;
                }

                button>span>i {
                    color: black;
                    font-size: 2rem;
                }
            }

            &__product {
                @include productCard;

                a {
                    min-width: 300px;
                }
            }


        }

        .carousel {
            .card {

                a {
                    .card-body {
                        margin-top: -4rem;
                        padding:1rem;
                        background-color: rgba(0, 0, 0, 0.4);
                        p {
                        color: $light !important;

                        }
                    }
                }
            }
        }
    }
}

