.navbar {
    z-index: 100;
    position:absolute;
    top:35px;
    width: 100vw;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: $secondary !important;

    img {
        object-fit: cover;
        width: 4rem;
        height: auto;
        
    }

    @media only screen and (max-width:600px) {
        top: 0px;
    }
}



.navbar #navbarSupportedContent {
    ul {
        margin-left: auto;
        margin-right: 2rem !important;

        li {
            margin: 0 1rem;
        }
    }
}



@media only screen and (max-width:992px) {
    #navbarSupportedContent {
        padding-top: 1rem;

        ul {
            li {
                a {
                    padding: 1.2rem .6rem
                }
            }
        }
    }
}


