.product-category-container {

    .product-category {
        flex-direction: column;

        &__selector {
            display: flex;
            justify-content: space-between;
            padding:($sm * 4) 0 $sm 0;

            .sort {
        
                .dropdown-toggle::after {
                    content: none;
                }
            }

            .category-selector {
                .dropdown-toggle::after {
                    border-top: .4em solid;
                    border-right: .4em solid transparent;
                    border-left: .4em solid transparent;
                    margin-left: $sm;
                }
            }
        }

        &__products {
            margin:auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: $l;
            row-gap: $l;

            .products {
                @include productCard;

                a {
                    position: relative;

                    img {
                        height: $sm * 16;
                        object-fit: cover;
                    }

                    @include overlay;

                    .overlay {
                        p {
                            color: $light;
                        }
                    }

                    @include respond(tablet) {
                        .overlay {
                            opacity: 1;
                        }
                    }
                }

                a:hover .overlay {
                    opacity: 1;
                }
            }

            
        }

        .category-selector,
        .sort {
            .btn {
                border-radius: $xl;
                letter-spacing: 0.5px;
                background: none !important;
                border: solid 2px $dark;
                color: $dark;
                font-weight: bold;
                transition: transform 0.2s ease-in-out;
            }

            .btn:hover, .btn:focus {
                 transform: scale(1.05);
            }


            ul {

                li {

                    a, button {
                        padding-top:.6rem;
                        padding-bottom:.6rem;
                        font-size: $sm-md;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }

        .category-selector {
            ul {
                min-width: 25rem;
                max-width: 54rem;
            }
        }

        @include respond(desktop-xxl) {
            &__selector {
                padding-top: $medium;
            }
            &__products {
                column-gap: 4rem;
                row-gap: 4rem;

                .products {

                    img {
                        height: 22.1rem !important;
                        width: 100%;
                    }

                    .overlay {
                        p {
                            font-size: $md !important;
                        }
                    }
                }
            }
        }

        @include respond(desktop-xl) {
            &__products {
                column-gap: $l-md;
                row-gap: $l-md;
                margin-top: $sm;
            }
        }

        @include respond(tablet) {
            &__products {
                column-gap: $sm-md;
                row-gap: $sm-md;

                .products {
                    img {
                        width: 13rem;
                        max-height: 13rem;
                    }
                }

            }
        }

        @include respond(tablet-sm) {
            &__products {
                grid-template-columns: repeat(3, 1fr);

            }
        }

        @include respond(e-reader) {
             &__selector {
                .category-selector {
                        width: 100%;
                        margin-right: $sm;
                    .btn {
                        width: 100%;
                    }
                }
             }
             
            &__products {
                grid-template-columns: repeat(2, 1fr);

            }
        }

        @include respond(phone) {
            &__products {
                grid-template-columns: repeat(1, 1fr);
                
                .products {
                    img {
                        width: 16rem;
                        max-height: 16rem;
                    }
                }
            }
        }
    }
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: $xxl;

    ul {
        li {
            width:$xxl;
            height: $xxl;
            margin:auto $sm auto $sm;
            background: lighten($color: $primary, $amount: 10%);
            padding:0.4rem 0 0 0 ;
            border-radius: 50%;
            text-align: center;
            a {
                color: $dark !important;
                font-weight: 600;
                opacity: 0.8;
            }

             a:hover {
                 background-color: rgba($color: #000000, $alpha: 0) !important;
             }


        }
        li:hover {
            background: lighten($color: $primary, $amount: 20%);
        }
    }

    @include respond(desktop-xxl) {
        ul {
            li {
                padding-top: 1rem;
                width:$medium * 0.9;
                height: $medium * 0.9;
            }

        }

        .pagination .page-item .page-link {
            font-size: $md !important;
        }
    }

    @include respond(e-reader) {
        ul {
            li {
                width: $xl;
                height: $xl;
                margin:auto 0.6rem auto 0.6rem;
                padding:0.2rem 0 0 0;
            }
        }
    }
}