.product_attributes {
    background-color: $primary-light;
    padding: 3rem 0;

    @media only screen and (max-width: 888px) {
        padding:4rem 0;
    }

    .product-attribute-wrapper {
        justify-content: center;  
            flex-wrap: wrap;

        .card {
            margin: 0 1rem;
            max-width: 20rem;
            flex-direction: column-reverse;
            flex: 1;

            .card-body {
                background-color: $secondary;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }

            @include respond(tablet) {
                max-width: 16rem;
                min-width: 16rem;
            }

            @media only screen and (max-width: 888px) {
                margin-top: 2rem;
            }

            label {
                text-align: center;
                padding:1rem;
            }

            img {
                height: 19rem;
                object-fit: cover;

                @include respond(tablet) {
                                    height: 16rem;

                }
            }
        }
    }
}

.product_attributes-svg-top {
    margin-bottom: -1rem;
}

.product_attributes-svg-bottom {
    margin-top: -0.1rem;
}