.product_attributes {
    background-color: $primary-light;
    padding: $xxl 0;

    @media only screen and (max-width: 888px) {
        padding:($sm * 4) 0;
    }

    .product-attribute-wrapper {
        justify-content: center;  
            flex-wrap: wrap;

        .card {
            margin: 0 $sm;
            max-width: $xxl-large;
            flex-direction: column-reverse;
            flex: 1;

            .card-body {
                background-color: $secondary;
                border-top-right-radius: $sm;
                border-top-left-radius: $sm;
            }

            @include respond(tablet) {
                max-width: $sm * 16;
                min-width: $sm * 16;
            }

            @media only screen and (max-width: 888px) {
                margin-top: $l;
            }

            label {
                text-align: center;
                padding:$sm;
            }

            img {
                height: $sm * 16;
                object-fit: cover;

                @include respond(tablet) {
                    height: $sm * 16;

                }
            }
        }
    }

    @include respond(desktop-xxl) {
        padding: $large 0;

        .product-attribute-wrapper {
            justify-content: center;
            flex-wrap: wrap;

            .card {

                max-width: $xxl-large * 1.5;

                img {
                    height: $sm * 30;
                }
            }
        }
    }
}

.product_attributes-svg-top {
    margin-top: 3rem;
    transform: scale(1.1);
    height: 202.65px;
    overflow: hidden;
    scrollbar-width: 0;
}

.product_attributes-svg-bottom {
    transform: scale(1.1);
    height: 202.65px;
    overflow: hidden;
    scrollbar-width: 0;
    height: 202.65px;
}

@include respond(desktop-xxl) {
    .product_attributes-svg-top {
        margin-top: $medium;
        height: 300px;
    }

    .product_attributes-svg-bottom {
        height: 300px;
        margin-bottom: $medium;
    }
}