.showcase {
    margin: 2rem 0;
    
    .showcase-wrapper {
        max-width: 1520px;
        display: flex;
        padding: 0 1rem;
        height: auto;
        max-height: 90vh;
        margin: auto;

        .showcase-main {
            flex: 2;
            max-width: 1140px;

            &__img {
            position: relative; 
            display: flex;
            width: auto;
            height: 100%;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    margin:0 1rem 0 0;
                    border-radius: 3px;
                }

                p {
                    color: #f1f1f1; 
                }
            }

            &__img:hover .overlay {
                opacity: 1;
            }
        }

        .showcase-side {
            flex: 1;
            max-width: 380px;

            &__img {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: auto;

                span {
                    position: relative;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: auto;
                        margin: 0 0 0 1rem;
                        border-radius: 3px;
                        max-height: 307px;
                    }

                    .overlay {
                        left: 1rem;
                        bottom: 3px;
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;

                        p {
                            color: $light;

                        }
                    }
                }

                span:hover .overlay {
                    opacity: 1;
                }

                span:first-child {
                    margin-bottom: 2rem;
                }
               
            }
            
        }

        @include overlay;
        .overlay {
            bottom:0;
        }

        @include respond(tablet) {
            // .showcase-side {

            // }
            .overlay {
                opacity: 1;
            }
        }

        
        @include respond(tablet-sm) {
            flex-direction: column;

            .showcase-main {

                &__img {
                    img {
                        margin: auto;
                    }

                    
                }
            }
            .showcase-side {
                max-width: 100%;
                &__img {
                    flex-direction: row;

                    img {
                        margin: 2rem 0 0 0 !important;
                    }

                    span:first-child {
                        margin:0 2rem 0 0;
                    }

                    .overlay {
                        left: 0 !important;
                    }
                }
            }
        }


    }

    .showcase-mobile {
        display: none;
    }

    @include respond(e-reader) {
            .showcase-side, .showcase-main {
                display:none;
            }
            .showcase-mobile {
                display: flex;
                flex-direction: column;

                &__wrapper {
                    position: relative;
                    margin: auto;
                    width: 100%;

                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                        border-radius: 3px;
                    }

                    .overlay {
                        bottom: 3px;
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;

                        p {
                            color: $light;
                        }
                    }
                }

                .showcase-mobile__wrapper:nth-child(2) {
                    margin: 2rem 0;
                }
                
            }
    }
}