.testimonials {
    background-color:$primary-light;
    margin-top: -$l;

    .testimonials-wrapper {
        flex-wrap: wrap;
        padding:($sm * 6) 0;

        .photo-gallery-container {
            text-align: center;
            h3 {
                margin-bottom: $xxl;
                
            }
            h3::after {
                content: ' ';
                display: block;
                border-bottom: 2.5px solid rgb(36, 36, 36);
                width: $large;
                margin:auto;
                padding-top:$md;
            }

            .photo-gallery {
                flex: 1;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: $sm;
                row-gap: $l;
                margin: 0 1rem;


                &__img {
                    width: $large;
                    height: $large;
                    object-fit: cover;
                }

                @include respond(tablet-sm) {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            
        }
        .carousel-testimonial-container {
            flex: 1;
            margin: 0 $sm;
            text-align: center;

            @include respond(tablet-sm) {
                margin-top: $sm * 4;
            }

            h3 {
                margin-bottom: $xxl;

            }

            h3::after {
                content: ' ';
                display: block;
                border-bottom: 2.5px solid rgb(36, 36, 36);
                width: $large;
                margin: auto;
                padding-top: $md;
            }
            
            #carouselTestimonials {
                display: flex;
                flex-direction: column;
                justify-content: center;

                 .carousel-indicators {
                     margin-bottom: -$xl;

                     button {
                         background-color: $dark;
                     }
                 }

                 .carousel-control-prev-icon,
                 .carousel-control-next-icon {
                     background: none;
                 }

                .testimonial-card {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    max-width: 35rem;
                    margin: auto;


                    &__img {
                        object-fit: cover;
                        width: $large;
                        height: $large;
                        border-radius: 50%;
                        margin: $l auto 1rem auto;
                    }
                }

                button>span>i {
                    color: black;
                    font-size: $l;
                }
            }
        }

    }

    @include respond(desktop-xxl) {
        .testimonials-wrapper {
        margin-bottom: $medium;

            .photo-gallery-container {

                .photo-gallery {

                    &__img {
                        width: $xl-large;
                        height: $xl-large;
                    }

                    @include respond(tablet-sm) {
                        
                    }
                }

            }

            .carousel-testimonial-container {

                #carouselTestimonials {
                    max-width: 60rem;
                    margin: auto;

                    .testimonial-card {
                        &__img {
                             width: $xl-large;
                             height: $xl-large;
                        }
                    }
                }
            }

        }
    }

    @include respond(tablet) {
        margin-top: -0.1rem;
    }
}

.testimonials-svg-bottom {
transform: scale(1.1);
height: 202.65px;
overflow: hidden;
scrollbar-width: 0;
}

.testimonials-svg-top {
transform: scale(1.1);
height: 202.65px;
overflow: hidden;
scrollbar-width: 0;
}

@include respond(desktop-xxl) {
    .testimonials-svg-top {
        margin-top: $medium;
        height: 300px;

    }

    .testimonials-svg-bottom {
        margin-top: -4.2rem;
        margin-bottom: $medium;
        height: 300px;

    }
}


