@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 415px) {
            /* smartphones, iPhone, portrait 480x320 phones */
            @content;
        }
    }

    ;

    @if $breakpoint==e-reader {
        @media (max-width: 601px) {
            /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
            @content;
        }
    }

    @if $breakpoint==tablet-sm {
        @media (max-width: 811px) {
            /* tablet, landscape iPad, lo-res laptops ands desktops */
            @content;
        }
    }

    ;

    @if $breakpoint==tablet {
        @media (max-width: 1024px) {
            /* tablet, landscape iPad, lo-res laptops ands desktops */
            @content;
        }
    }

    ;

    @if $breakpoint==tablet-landscape {
        @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
            /* tablet landscape */
            @content;
        }
    }

    @if $breakpoint==ipad-pro {
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
            /* iPad Pro 12.9" */
            @content;
        }
    }

    @if $breakpoint==laptop {
        @media (min-width:1025px) {
            /* big landscape tablets, laptops, and desktops */
            @content;
        }
    }

    ;

    @if $breakpoint==desktop {
        @media (min-width:1281px) {
            /* hi-res laptops and desktops */
            @content;
        }
    }

    ;
}

@mixin overlay {
    .overlay {
        position: absolute;
        bottom: 1.28rem;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.4);
        color: #f1f1f1 !important;
        width: 100%;
        transition: .5s ease;
        opacity: 0;
        padding: 20px;
        text-align: center;
        font-size: $sm;
        z-index: 10;
    }
}

@mixin imageZoom {
    img {
        transition: transform .5s ease;
    }

    img:hover {
        transform: scale(1.2);
    }

    img:focus {
        transform: scale(1.2);
    }
}

// Global Product Card Styles
@mixin productCard {
    max-width: 18rem !important;
    object-fit: cover;
    height: 100%;
    height: 16rem;

    a {
        text-decoration: none;
        overflow: hidden;
    }
    p {
        padding:.5rem 0;
        color: $primary-text-color;
    }

    .card-body {
        background-color: white;
        position: relative;
        z-index: 100;
    }

    @include imageZoom;
}

