/* Text Colors */
$primary-text-color: #000000;


/* Colors */
$primary: #ef9273;
$secondary: #fef9f8;
$tertiary: #0d0d0d;
$primary-light: #f8cbbc;

$dark: #0d0d0d;
$light: #fef9f8;


/* Sizes */
$xs: 0.5rem;
$xs-md: 0.7rem;
$sm: 1rem;
$sm-md:1.2rem;
$md: 1.5rem;
$md-md: 1.7rem;
$l: 2rem;
$l-md:2.2;
$xl: 2.5rem;
$xl-md: 2.7;