/* Text Colors */
$primary-text-color: #000000;


/* Colors */
$primary: #F5CB5C;
$secondary: #E8EDDF;
$tertiary: #CFDBD5;

$quaternary: #242423;
$quinary:#333533;
// $senary:#000;
$dark: #333533;
$light: #E8EDDF;


/* Sizes */
$xs: 0.5rem;
$xs-md: 0.7rem;
$sm: 1rem;
$sm-md:1.2rem;
$md: 1.5rem;
$md-md: 1.7rem;
$l: 2rem;
$l-md:2.2;
$xl: 2.5rem;
$xl-md: 2.7;