.attributes-container {
    // background-color: $primary-light;
    border-top: $sm solid;
    border-top-width: $sm;
    border-image-slice: 1;
    border-width: $xs;
    border-image-source: linear-gradient(to left, #ffe983, #ecbb5d, #ffe983, #ffffc5);
    position: relative;
    z-index: 100;
}

.attributes {
    // z-index: 100;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: $xxl 0 $xxl 0;
    

    #carouselAttributes {
        display: none;
    }

    &__content {
        margin: auto;
        padding: 0 $l;
        margin:0 auto;


        i {
            font-size: $sm-md;
        }
        label {
            font-size: $sm-md;
            font-weight: 600;
            padding-left:$xs;
        }
        p {
            max-width:15rem;
            margin-top:$sm-md;
        }
    }
}

@include respond(tablet-sm) {
    .attributes {
        padding-top:$sm;
        .attributes__content {
            margin-top: $l;
        }
    }
}

@include respond(e-reader) {
    .attributes {
        padding: 4rem 0 4rem 0;
        justify-content: center !important;

        #carouselAttributes {
            display: inherit;

            .carousel-item {
                i {
                    font-size: $sm;
                    opacity: 0.8;
                }

                label {
                    font-weight: 600;
                    padding-left: $xs;
                }

                p {
                    width: 10rem;
                    margin-top: $sm-md;
                }
            }
        }

        &__content {
            display: none;
        }
    }
}