.search_bg {
    background-color: $primary;
    height: 50px;
    border-radius: 50px;
    padding: $sm;
    align-items: center;
}

.search_bg:hover > .search_input {
    width: 240px;
    padding: 0 6px;
}

.search_bg:hover > .search_button {
    background: $light !important;
    color: $primary !important;
}

.search_button {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: $light;
    cursor: pointer;
    border: none;
    padding: 0 !important;
    box-shadow: none !important;
}

.btn-outline-success {
    color: $light !important;
    background-color: $primary !important;
    border: none !important;
}

.search_button > i {
    font-size-adjust: $xxl;
    opacity: 0.6;

}

.search_input {
    border: none;
    background: none !important;
    outline: none;
    float: left;
    padding: 0;
    color: $light !important;
    font-size: $md;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
    font-family: proxima-nova-condensed,
    sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $dark;
}

.search_input::placeholder {
    color: $light !important;
    font-size: $sm-md !important;
}

.search_input:focus {
    box-shadow: none;
}

@include respond(tablet) {
    .search_input {
        width: 100% !important;
        
    }
    // .search_bg:hover>.search_input {
    //     width: 100% !important;
    // }
}

@include respond(desktop-xxl) {
.search_bg {
    background-color: $primary;
    height: 60px;
    border-radius: 120px;
    padding: $sm;
    align-items: center;
}
}
