.search_bg {
    background-color: #2f3640;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    align-items: center;
}

.search_bg:hover > .search_input {
    width: 240px;
    padding: 0 6px;
}

.search_bg:hover > .search_button {
    background: azure !important;
    color: #2f3640 !important;
}

.search_button {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: azure;
    cursor: pointer;
    border: none;
    padding: 0 !important;
    box-shadow: none !important;
}

.btn-outline-success {
    color: azure !important;
    background-color: #2f3640 !important;
    border: none !important;
}

.search_button > i {
    font-size-adjust: 30px;
}

.search_input {
    border: none;
    background: none !important;
    outline: none;
    float: left;
    padding: 0;
    color: azure !important;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
    
}

.search_input::-webkit-input-placeholder {
    font-family: 'myFont', Arial, Helvetica, sans-serif;
}

.search_input::-ms-input-placeholder {
    font-family: 'myFont', Arial, Helvetica, sans-serif;
}

.search_input::-moz-placeholder {
    font-family: 'myFont', Arial, Helvetica, sans-serif;
}

.search_input::-moz-placeholder {
    font-family: 'myFont', Arial, Helvetica, sans-serif;
}

.search_input:focus {
    box-shadow: none;
}

@include respond(tablet) {
    .search_input {
        width: 100% !important;
        
    }
    // .search_bg:hover>.search_input {
    //     width: 100% !important;
    // }
}
