// body { font-size:62.5;}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


body {
    background-color: $secondary;
}

@include respond(desktop-xl) {
    .container-xl,
    .container-sm {
        max-width: 1420px !important;
    }
}


body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: $light;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: $dark;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid $light;
    /* creates padding around scroll thumb */
}

//Firefox

* {
    scrollbar-width: thin;
    scrollbar-color: $dark $light;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: $light;
}

*::-webkit-scrollbar-thumb {
    background-color: $dark;
    border-radius: 20px;
    border: 3px solid $light;
}

body {
    overflow-x: hidden;
}