h1 {
    font-size:5.38rem;
font-family: basic-sans, sans-serif;
font-weight: 200;
font-style: normal;
color: $dark;
letter-spacing: -.1rem;
}

h2 {
    font-size:3.84rem * .6;
font-family: basic-sans,
sans-serif;
font-weight: 200;
font-style: normal;
color: $dark;
}

h3 {
    font-size:2.74rem;
font-family: basic-sans,
sans-serif;
font-weight: 300;
font-style: normal;
color: $dark;
}

h4 {
    font-size:1.96rem;
font-family: basic-sans,
sans-serif;
font-weight: 300;
font-style: normal;
color: $dark;
}

h5 {
    font-size:1.4rem;
font-family: basic-sans,
sans-serif;
font-weight: 300;
font-style: normal;
color: $dark;

}

p, span {
font-family: proxima-nova-condensed,
sans-serif;
font-weight: 400;
font-style: normal;
color: $dark;

}

label, button {
font-family: proxima-nova-condensed,
sans-serif;
font-weight: 600;
font-style: normal;

}

li, a {
font-family: proxima-nova-condensed,
sans-serif;
font-weight: 400;
font-style: normal;
color: $dark;
text-decoration: none;
list-style-type: none;
}

a:hover {
    color: lighten($color: $dark, $amount: 25%)
}

i {
    color: $dark;
}

@include respond(desktop-xl) {
    body {
        font-size: 118.75% !important;
    }

    // h1 {
    // font-size:5.38rem * 1.2;

    // }
    // h2 {
    // font-size:3.84rem * 1.05;

    // }
    // h3 {
    // font-size:2.74rem * 1.05;

    // }
    // h4 {
    // font-size:1.96rem * 1.05;

    // }
    // h5 {
    // font-size:1.4rem * 1.05;

    // }
    // p {
    //     font-size: 1.6rem;
    // }
    // label, button {

    // }
    // li, a {

    // }
    // i {

    // }
}

