/* Text Colors */
/* Colors */
/* Sizes */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #fef9f8;
}

h1 {
  font-size: 5.38rem;
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #0d0d0d;
}

h2 {
  font-size: 2.304rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0d0d0d;
}

h3 {
  font-size: 2.74rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0d0d0d;
}

h4 {
  font-size: 1.96rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0d0d0d;
}

h5 {
  font-size: 1.4rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0d0d0d;
}

p {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0d0d0d;
}

label, button {
  font-family: bree, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0d0d0d;
}

li, a {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style-type: none;
  color: #0d0d0d;
}

a:hover {
  color: #4d4d4d;
}

i {
  color: #0d0d0d;
}

.custom-button-one {
  color: #fef9f8;
  background-color: #ef9273;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.5rem;
  width: 12rem;
  padding: 0.7rem;
}
.custom-button-one a {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.custom-button-hero {
  color: #fef9f8;
  background-color: #ef9273;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.5rem;
  width: 12rem;
  padding: 0.7rem;
}
.custom-button-hero a {
  color: #fef9f8;
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.custom-button-cta {
  color: #fef9f8;
  background-color: #ef9273;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  width: 10rem;
  padding: 0.7rem;
}
.custom-button-cta a {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.custom-button-one:hover {
  background-color: #f9d9cf;
}

.custom-button-one:hover a {
  color: #404040 !important;
}

.custom-button-cta:hover {
  background-color: #f9d9cf;
}

.custom-button-cta:hover a {
  color: #404040 !important;
}

.custom-button-hero:hover {
  background-color: #f9d9cf;
}

.custom-button-hero:hover a {
  color: #404040 !important;
}

.search_bg {
  background-color: #ef9273;
  height: 50px;
  border-radius: 50px;
  padding: 10px;
  align-items: center;
}

.search_bg:hover > .search_input {
  width: 240px;
  padding: 0 6px;
}

.search_bg:hover > .search_button {
  background: #fef9f8 !important;
  color: #ef9273 !important;
}

.search_button {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ef9273;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: #fef9f8;
  cursor: pointer;
  border: none;
  padding: 0 !important;
  box-shadow: none !important;
}

.btn-outline-success {
  color: #fef9f8 !important;
  background-color: #ef9273 !important;
  border: none !important;
}

.search_button > i {
  font-size-adjust: 30px;
}

.search_input {
  border: none;
  background: none !important;
  outline: none;
  float: left;
  padding: 0;
  color: #fef9f8 !important;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}

.search_input::placeholder {
  color: #fef9f8 !important;
}

.search_input::-webkit-input-placeholder {
  font-family: "myFont", Arial, Helvetica, sans-serif;
}

.search_input::-ms-input-placeholder {
  font-family: "myFont", Arial, Helvetica, sans-serif;
}

.search_input::-moz-placeholder {
  font-family: "myFont", Arial, Helvetica, sans-serif;
}

.search_input::-moz-placeholder {
  font-family: "myFont", Arial, Helvetica, sans-serif;
}

.search_input:focus {
  box-shadow: none;
}

@media (max-width: 1024px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .search_input {
    width: 100% !important;
  }
}
.attributes-container {
  background-color: #f8cbbc;
  position: relative;
  z-index: 100;
}

.attributes {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0 3rem 0;
}
.attributes #carouselAttributes {
  display: none;
}
.attributes__content {
  margin: auto;
  padding: 0 2rem;
  margin: 0 auto;
}
.attributes__content i {
  font-size: 1.2rem;
}
.attributes__content label {
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 0.5rem;
}
.attributes__content p {
  width: 10rem;
  margin-top: 1.2rem;
}

@media (max-width: 811px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .attributes {
    padding-top: 1rem;
  }
  .attributes .attributes__content {
    margin-top: 2rem;
  }
}
@media (max-width: 601px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .attributes {
    padding: 4rem 0 4rem 0;
    justify-content: center !important;
  }
  .attributes #carouselAttributes {
    display: inherit;
  }
  .attributes #carouselAttributes .carousel-item i {
    font-size: 1rem;
    opacity: 0.8;
  }
  .attributes #carouselAttributes .carousel-item label {
    font-weight: 600;
    padding-left: 0.5rem;
  }
  .attributes #carouselAttributes .carousel-item p {
    width: 10rem;
    margin-top: 1.2rem;
  }
  .attributes__content {
    display: none;
  }
}
.navbar {
  z-index: 100;
  position: absolute;
  top: 35px;
  width: 100vw;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: #fef9f8 !important;
}
.navbar img {
  object-fit: cover;
  width: 4rem;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .navbar {
    top: 0px;
  }
}

.navbar #navbarSupportedContent ul {
  margin-left: auto;
  margin-right: 2rem !important;
}
.navbar #navbarSupportedContent ul li {
  margin: 0 1rem;
}

@media only screen and (max-width: 992px) {
  #navbarSupportedContent {
    padding-top: 1rem;
  }
  #navbarSupportedContent ul li a {
    padding: 1.2rem 0.6rem;
  }
}
.header-top {
  position: absolute;
  width: 100vw;
  top: 0;
  background: #ef9273;
  padding: 0;
  height: 35px;
  display: flex;
  align-items: center;
}
.header-top i,
.header-top p {
  color: #fef9f8;
}
.header-top .header-top-wrapper div:last-child {
  display: flex;
  align-items: center;
}
.header-top .header-top-wrapper div:last-child p {
  margin-left: 0.5rem;
}
.header-top .header-top-wrapper div:last-child i {
  margin-left: 2rem;
}
@media only screen and (max-width: 600px) {
  .header-top {
    display: none;
  }
}

.hero {
  background: #fef9f8;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
}
.hero__main {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}
.hero__main-text h2 {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}
.hero__main-text p {
  max-width: 40rem;
  font-size: 1rem;
  line-height: 1.6;
  padding-right: 2rem;
}
.hero__main-img {
  margin: auto 0;
}
.hero__main-img img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  box-shadow: 20px 20px 0px #ef9273;
  -moz-box-shadow: 20px 20px 0px #ef9273;
  -webkit-box-shadow: 20px 20px 0px #ef9273;
  -khtml-box-shadow: 20px 20px 0px #ef9273;
}
.hero button {
  margin: 1rem 0 0 0;
}

@media (max-width: 1024px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .hero__main h1 {
    line-height: 1;
  }
  .hero__main h2 {
    margin-top: 0rem;
  }
}
@media (max-width: 811px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .hero__main {
    margin-top: 8rem;
    flex-direction: column;
  }
  .hero__main h1 {
    line-height: 1;
    font-size: 4.304rem;
  }
  .hero__main h2 {
    margin-top: 0rem;
  }
  .hero__main-img {
    margin: 4rem 0 4rem 0;
  }
}
@media (max-width: 415px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .hero__main {
    margin-top: 8rem;
    flex-direction: column;
  }
  .hero__main-img {
    margin: 4rem auto 4rem auto;
  }
}
.hero-small {
  background: #fbe1d8;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 60vh;
  display: flex;
  align-items: center;
}
.hero-small__text h1 {
  margin-top: 4rem;
}
.hero-small__text p {
  margin-top: -0.5rem;
}

@media (max-width: 1024px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .hero-small__text h1 {
    line-height: 1;
    font-size: 4.304rem;
    margin-bottom: 1rem;
  }
}
.featured-wrapper {
  text-align: center;
  padding: 4rem 1rem;
}
.featured-wrapper .featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-rows: auto;
  margin: 2rem auto;
}
.featured-wrapper .featured #carouselProductsArrivals,
.featured-wrapper .featured #carouselProductsCategories {
  display: none;
}
.featured-wrapper .featured__product {
  max-width: 18rem !important;
  object-fit: cover;
  height: 100%;
  height: 16rem;
}
.featured-wrapper .featured__product a {
  text-decoration: none;
  overflow: hidden;
}
.featured-wrapper .featured__product p {
  padding: 0.5rem 0;
  color: #000000;
}
.featured-wrapper .featured__product .card-body {
  background-color: white;
  position: relative;
  z-index: 100;
}
.featured-wrapper .featured__product img {
  transition: transform 0.5s ease;
}
.featured-wrapper .featured__product img:hover {
  transform: scale(1.2);
}
.featured-wrapper .featured__product img:focus {
  transform: scale(1.2);
}
.featured-wrapper .featured__product a img {
  height: 16rem;
  object-fit: cover;
}
.featured-wrapper .featured__product a .overlay p {
  text-align: center;
}
.featured-wrapper .featured a {
  position: relative;
}
.featured-wrapper .featured a .overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.4);
  color: #f1f1f1 !important;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  z-index: 10;
}
.featured-wrapper .featured a .overlay p {
  color: #fef9f8;
}
.featured-wrapper .featured a:hover .overlay {
  opacity: 1;
}

@media (max-width: 811px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .featured {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 601px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .featured-wrapper .featured {
    display: flex;
  }
  .featured-wrapper .featured .single-card {
    display: none;
  }
  .featured-wrapper .featured #carouselProductsArrivals,
.featured-wrapper .featured #carouselProductsCategories {
    display: inherit !important;
  }
  .featured-wrapper .featured #carouselProductsArrivals .carousel-indicators,
.featured-wrapper .featured #carouselProductsCategories .carousel-indicators {
    margin-bottom: -2rem;
  }
  .featured-wrapper .featured #carouselProductsArrivals .carousel-indicators button,
.featured-wrapper .featured #carouselProductsCategories .carousel-indicators button {
    background-color: #000000;
  }
  .featured-wrapper .featured #carouselProductsArrivals .carousel-control-next-icon,
.featured-wrapper .featured #carouselProductsArrivals .carousel-control-prev-icon,
.featured-wrapper .featured #carouselProductsCategories .carousel-control-next-icon,
.featured-wrapper .featured #carouselProductsCategories .carousel-control-prev-icon {
    background-image: none !important;
  }
  .featured-wrapper .featured #carouselProductsArrivals button > span > i,
.featured-wrapper .featured #carouselProductsCategories button > span > i {
    color: black;
    font-size: 2rem;
  }
  .featured-wrapper .featured__product {
    max-width: 18rem !important;
    object-fit: cover;
    height: 100%;
    height: 16rem;
  }
  .featured-wrapper .featured__product a {
    text-decoration: none;
    overflow: hidden;
  }
  .featured-wrapper .featured__product p {
    padding: 0.5rem 0;
    color: #000000;
  }
  .featured-wrapper .featured__product .card-body {
    background-color: white;
    position: relative;
    z-index: 100;
  }
  .featured-wrapper .featured__product img {
    transition: transform 0.5s ease;
  }
  .featured-wrapper .featured__product img:hover {
    transform: scale(1.2);
  }
  .featured-wrapper .featured__product img:focus {
    transform: scale(1.2);
  }
  .featured-wrapper .featured__product a {
    min-width: 300px;
  }
  .featured-wrapper .carousel .card a .card-body {
    margin-top: -4rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .featured-wrapper .carousel .card a .card-body p {
    color: #fef9f8 !important;
  }
}
.product-category-container .product-category {
  flex-direction: column;
}
.product-category-container .product-category__selector {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0 1rem 0;
}
.product-category-container .product-category__selector .sort .dropdown-toggle::after {
  content: none;
}
.product-category-container .product-category__selector .category-selector .dropdown-toggle::after {
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
  margin-left: 10px;
}
.product-category-container .product-category__products {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.product-category-container .product-category__products .products {
  max-width: 18rem !important;
  object-fit: cover;
  height: 100%;
  height: 16rem;
  max-width: 16rem !important;
}
.product-category-container .product-category__products .products a {
  text-decoration: none;
  overflow: hidden;
}
.product-category-container .product-category__products .products p {
  padding: 0.5rem 0;
  color: #000000;
}
.product-category-container .product-category__products .products .card-body {
  background-color: white;
  position: relative;
  z-index: 100;
}
.product-category-container .product-category__products .products img {
  transition: transform 0.5s ease;
}
.product-category-container .product-category__products .products img:hover {
  transform: scale(1.2);
}
.product-category-container .product-category__products .products img:focus {
  transform: scale(1.2);
}
.product-category-container .product-category__products .products a {
  position: relative;
}
.product-category-container .product-category__products .products a img {
  height: 16rem;
  object-fit: cover;
}
.product-category-container .product-category__products .products a .overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.4);
  color: #f1f1f1 !important;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  z-index: 10;
}
.product-category-container .product-category__products .products a .overlay p {
  color: #fef9f8;
}
@media (max-width: 1024px) {
  .product-category-container .product-category__products .products a {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
  }
  .product-category-container .product-category__products .products a .overlay {
    opacity: 1;
  }
}
.product-category-container .product-category__products .products a:hover .overlay {
  opacity: 1;
}
.product-category-container .product-category .category-selector .btn,
.product-category-container .product-category .sort .btn {
  border-radius: 25px;
  letter-spacing: 0.5px;
  background: none !important;
  border: solid 2px #0d0d0d;
  color: #0d0d0d;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}
.product-category-container .product-category .category-selector .btn:hover, .product-category-container .product-category .category-selector .btn:focus,
.product-category-container .product-category .sort .btn:hover,
.product-category-container .product-category .sort .btn:focus {
  transform: scale(1.05);
}
.product-category-container .product-category .category-selector ul li a, .product-category-container .product-category .category-selector ul li button,
.product-category-container .product-category .sort ul li a,
.product-category-container .product-category .sort ul li button {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}
.product-category-container .product-category .category-selector ul {
  min-width: 25rem;
  max-width: 54rem;
}
@media (max-width: 811px) {
  .product-category-container .product-category {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
  }
  .product-category-container .product-category__products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 601px) {
  .product-category-container .product-category {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  }
  .product-category-container .product-category__selector .category-selector {
    width: 100%;
    margin-right: 1rem;
  }
  .product-category-container .product-category__selector .category-selector .btn {
    width: 100%;
  }
  .product-category-container .product-category__products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 415px) {
  .product-category-container .product-category {
    /* smartphones, iPhone, portrait 480x320 phones */
  }
  .product-category-container .product-category__products {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.pagination-container ul li {
  width: 3rem;
  height: 3rem;
  margin: auto 1rem auto 1rem;
  background: #f4b6a1;
  padding: 0.4rem 0 0 0;
  border-radius: 50%;
  text-align: center;
}
.pagination-container ul li a {
  color: #0d0d0d !important;
  font-weight: 600;
}
.pagination-container ul li a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}
.pagination-container ul li:hover {
  background: #f9d9cf;
}
@media (max-width: 601px) {
  .pagination-container {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  }
  .pagination-container ul li {
    width: 2.5rem;
    height: 2.5rem;
    margin: auto 0.6rem auto 0.6rem;
    padding: 0.2rem 0 0 0;
  }
}

.product_attributes {
  background-color: #f8cbbc;
  padding: 3rem 0;
}
@media only screen and (max-width: 888px) {
  .product_attributes {
    padding: 4rem 0;
  }
}
.product_attributes .product-attribute-wrapper {
  justify-content: center;
  flex-wrap: wrap;
}
.product_attributes .product-attribute-wrapper .card {
  margin: 0 1rem;
  max-width: 20rem;
  flex-direction: column-reverse;
  flex: 1;
}
.product_attributes .product-attribute-wrapper .card .card-body {
  background-color: #fef9f8;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
@media (max-width: 1024px) {
  .product_attributes .product-attribute-wrapper .card {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    max-width: 16rem;
    min-width: 16rem;
  }
}
@media only screen and (max-width: 888px) {
  .product_attributes .product-attribute-wrapper .card {
    margin-top: 2rem;
  }
}
.product_attributes .product-attribute-wrapper .card label {
  text-align: center;
  padding: 1rem;
}
.product_attributes .product-attribute-wrapper .card img {
  height: 19rem;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .product_attributes .product-attribute-wrapper .card img {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    height: 16rem;
  }
}

.product_attributes-svg-top {
  margin-bottom: -1rem;
}

.product_attributes-svg-bottom {
  margin-top: -0.1rem;
}

.showcase {
  margin: 2rem 0;
}
.showcase .showcase-wrapper {
  max-width: 1520px;
  display: flex;
  padding: 0 1rem;
  height: auto;
  max-height: 90vh;
  margin: auto;
}
.showcase .showcase-wrapper .showcase-main {
  flex: 2;
  max-width: 1140px;
}
.showcase .showcase-wrapper .showcase-main__img {
  position: relative;
  display: flex;
  width: auto;
  height: 100%;
}
.showcase .showcase-wrapper .showcase-main__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0 1rem 0 0;
  border-radius: 3px;
}
.showcase .showcase-wrapper .showcase-main__img p {
  color: #f1f1f1;
}
.showcase .showcase-wrapper .showcase-main__img:hover .overlay {
  opacity: 1;
}
.showcase .showcase-wrapper .showcase-side {
  flex: 1;
  max-width: 380px;
}
.showcase .showcase-wrapper .showcase-side__img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}
.showcase .showcase-wrapper .showcase-side__img span {
  position: relative;
}
.showcase .showcase-wrapper .showcase-side__img span img {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin: 0 0 0 1rem;
  border-radius: 3px;
  max-height: 307px;
}
.showcase .showcase-wrapper .showcase-side__img span .overlay {
  left: 1rem;
  bottom: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.showcase .showcase-wrapper .showcase-side__img span .overlay p {
  color: #fef9f8;
}
.showcase .showcase-wrapper .showcase-side__img span:hover .overlay {
  opacity: 1;
}
.showcase .showcase-wrapper .showcase-side__img span:first-child {
  margin-bottom: 2rem;
}
.showcase .showcase-wrapper .overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.4);
  color: #f1f1f1 !important;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  z-index: 10;
}
.showcase .showcase-wrapper .overlay {
  bottom: 0;
}
@media (max-width: 1024px) {
  .showcase .showcase-wrapper {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
  }
  .showcase .showcase-wrapper .overlay {
    opacity: 1;
  }
}
@media (max-width: 811px) {
  .showcase .showcase-wrapper {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    flex-direction: column;
  }
  .showcase .showcase-wrapper .showcase-main__img img {
    margin: auto;
  }
  .showcase .showcase-wrapper .showcase-side {
    max-width: 100%;
  }
  .showcase .showcase-wrapper .showcase-side__img {
    flex-direction: row;
  }
  .showcase .showcase-wrapper .showcase-side__img img {
    margin: 2rem 0 0 0 !important;
  }
  .showcase .showcase-wrapper .showcase-side__img span:first-child {
    margin: 0 2rem 0 0;
  }
  .showcase .showcase-wrapper .showcase-side__img .overlay {
    left: 0 !important;
  }
}
.showcase .showcase-mobile {
  display: none;
}
@media (max-width: 601px) {
  .showcase {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  }
  .showcase .showcase-side, .showcase .showcase-main {
    display: none;
  }
  .showcase .showcase-mobile {
    display: flex;
    flex-direction: column;
  }
  .showcase .showcase-mobile__wrapper {
    position: relative;
    margin: auto;
    width: 100%;
  }
  .showcase .showcase-mobile__wrapper img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
  }
  .showcase .showcase-mobile__wrapper .overlay {
    bottom: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .showcase .showcase-mobile__wrapper .overlay p {
    color: #fef9f8;
  }
  .showcase .showcase-mobile .showcase-mobile__wrapper:nth-child(2) {
    margin: 2rem 0;
  }
}

.product-section {
  margin: 13rem 0 4rem 0;
}
.product-section__container {
  display: flex;
  justify-content: space-between;
}
.product-section__container .product-gallery {
  display: flex;
  flex: 2;
}
.product-section__container .product-gallery__array {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: none;
  max-height: 502px;
}
.product-section__container .product-gallery__array__img-wrapper {
  width: 100%;
  height: auto;
  max-width: 6rem;
  max-height: 6rem;
  margin: 0 0 1rem 0;
  list-style-type: none;
  border: 5px;
}
.product-section__container .product-gallery__array__img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 4rem;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.6;
}
.product-section__container .product-gallery__array__img-wrapper img:hover {
  opacity: 0.8 !important;
}
@media (max-width: 601px) {
  .product-section__container .product-gallery__array {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    flex-direction: row;
  }
}
.product-section__container .product-gallery__main {
  position: relative;
  width: 100%;
}
.product-section__container .product-gallery__main__img-wrapper {
  margin: auto;
  padding: 0 2rem;
  width: 100%;
  height: auto;
  max-width: 30rem;
  max-height: 30rem;
}
.product-section__container .product-gallery__main__img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 30rem;
  display: block;
  border-radius: 5px;
}
.product-section__container .product-gallery__main__img-wrapper .overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.4);
  color: #f1f1f1 !important;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  z-index: 10;
}
.product-section__container .product-gallery__main__img-wrapper .overlay {
  bottom: 1.4rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.product-section__container .product-gallery__main__img-wrapper .overlay p {
  color: #fef9f8;
}
.product-section__container .product-gallery__main__img-wrapper:hover .overlay {
  opacity: 1;
}
.product-section__container .product-gallery__main .gallery-navigation-wrapper {
  position: absolute;
  width: 100%;
  bottom: 50%;
}
.product-section__container .product-gallery__main .gallery-navigation-wrapper .gallery-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  top: 3rem;
}
.product-section__container .product-gallery__main .gallery-navigation-wrapper .gallery-navigation__btn {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: silver;
  border-radius: 50%;
  transition: background-color 0.15s ease-in;
}
.product-section__container .product-gallery__main .gallery-navigation-wrapper .gallery-navigation__btn i {
  color: #0d0d0d;
  transition: color 0.15s ease-in;
}
.product-section__container .product-gallery__main .gallery-navigation-wrapper .gallery-navigation__btn:hover {
  background-color: #8d8d8d;
}
.product-section__container .product-gallery__main .gallery-navigation-wrapper .gallery-navigation__btn:hover i {
  color: #fef9f8;
}
@media (max-width: 1024px) {
  .product-section__container .product-gallery__main .gallery-navigation-wrapper {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    width: 110% !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .product-section__container .product-gallery__main .gallery-navigation-wrapper .gallery-navigation {
    margin: 0 2.22rem;
  }
}
@media (max-width: 811px) {
  .product-section__container .product-gallery__main .gallery-navigation-wrapper {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
  }
  .product-section__container .product-gallery__main .gallery-navigation-wrapper .gallery-navigation {
    margin: 0 4rem;
  }
}
@media (max-width: 601px) {
  .product-section__container .product-gallery__main .gallery-navigation-wrapper {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  }
  .product-section__container .product-gallery__main .gallery-navigation-wrapper .gallery-navigation {
    margin: 0 2rem;
  }
}
@media (max-width: 415px) {
  .product-section__container .product-gallery__main .gallery-navigation-wrapper {
    /* smartphones, iPhone, portrait 480x320 phones */
  }
  .product-section__container .product-gallery__main .gallery-navigation-wrapper .gallery-navigation {
    margin: 0 1.6rem;
  }
}
@media (max-width: 415px) {
  .product-section__container .product-gallery__main {
    /* smartphones, iPhone, portrait 480x320 phones */
  }
  .product-section__container .product-gallery__main__img-wrapper .overlay {
    bottom: 0rem;
  }
}
@media (max-width: 1024px) {
  .product-section__container .product-gallery__main {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
  }
  .product-section__container .product-gallery__main__img-wrapper .overlay {
    bottom: 5.4rem;
    opacity: 1;
  }
}
@media (max-width: 601px) {
  .product-section__container .product-gallery {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    flex-direction: column-reverse;
  }
  .product-section__container .product-gallery__array {
    justify-content: center;
  }
  .product-section__container .product-gallery__array__img-wrapper {
    margin: 2rem 0.5rem;
  }
  .product-section__container .product-gallery__main__img-wrapper {
    padding: 0 0rem;
  }
}
.product-section__container .product-description {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* Works on Chrome, Edge, and Safari */
}
.product-section__container .product-description__name {
  font-size: 1.2rem;
}
.product-section__container .product-description__price {
  margin: 1rem 0 2rem 0;
  font-size: 1.7rem;
  font-weight: bold;
}
.product-section__container .product-description button {
  margin-bottom: 1.5rem;
}
.product-section__container .product-description label {
  font-size: 1.2rem;
}
.product-section__container .product-description__description {
  margin-top: 0.6rem;
  max-height: 20rem;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 1.3rem;
}
.product-section__container .product-description body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}
.product-section__container .product-description body::-webkit-scrollbar-track {
  background: #fef9f8;
  /* color of the tracking area */
}
.product-section__container .product-description body::-webkit-scrollbar-thumb {
  background-color: #0d0d0d;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #fef9f8;
  /* creates padding around scroll thumb */
}
.product-section__container .product-description * {
  scrollbar-width: thin;
  scrollbar-color: #0d0d0d #fef9f8;
}
.product-section__container .product-description *::-webkit-scrollbar {
  width: 12px;
}
.product-section__container .product-description *::-webkit-scrollbar-track {
  background: #fef9f8;
}
.product-section__container .product-description *::-webkit-scrollbar-thumb {
  background-color: #0d0d0d;
  border-radius: 20px;
  border: 3px solid #fef9f8;
}
@media (max-width: 811px) {
  .product-section__container {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    flex-direction: column;
  }
  .product-section__container .product-description {
    margin-top: 3rem;
  }
}
@media (max-width: 601px) {
  .product-section__container {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    margin-top: 10rem;
  }
  .product-section__container .product-description {
    margin-top: 1rem;
  }
}
@media (max-width: 601px) {
  .product-section {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    margin-top: 8rem;
  }
}

.contact-us {
  padding: 4rem 2rem;
}
.contact-us .text-center li {
  padding-bottom: 1rem;
}
.contact-us .text-center li i {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.testimonials {
  background-color: #f8cbbc;
  margin-top: -2rem;
}
.testimonials .testimonials-wrapper {
  flex-wrap: wrap;
  padding: 6rem 0;
}
.testimonials .testimonials-wrapper .photo-gallery-container {
  text-align: center;
}
.testimonials .testimonials-wrapper .photo-gallery-container h3 {
  margin-bottom: 3rem;
}
.testimonials .testimonials-wrapper .photo-gallery-container h3::after {
  content: " ";
  display: block;
  border-bottom: 2.5px solid #242424;
  width: 10rem;
  margin: auto;
  padding-top: 1.5rem;
}
.testimonials .testimonials-wrapper .photo-gallery-container .photo-gallery {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 20px;
  margin: 0 1rem;
}
.testimonials .testimonials-wrapper .photo-gallery-container .photo-gallery__img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
@media (max-width: 811px) {
  .testimonials .testimonials-wrapper .photo-gallery-container .photo-gallery {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    grid-template-columns: repeat(2, 1fr);
  }
}
.testimonials .testimonials-wrapper .carousel-testimonial-container {
  flex: 1;
  margin: 0 1rem;
  text-align: center;
}
@media (max-width: 811px) {
  .testimonials .testimonials-wrapper .carousel-testimonial-container {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    margin-top: 4rem;
  }
}
.testimonials .testimonials-wrapper .carousel-testimonial-container h3 {
  margin-bottom: 3rem;
}
.testimonials .testimonials-wrapper .carousel-testimonial-container h3::after {
  content: " ";
  display: block;
  border-bottom: 2.5px solid #242424;
  width: 10rem;
  margin: auto;
  padding-top: 1.5rem;
}
.testimonials .testimonials-wrapper .carousel-testimonial-container #carouselTestimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonials .testimonials-wrapper .carousel-testimonial-container #carouselTestimonials .carousel-indicators {
  margin-bottom: -2.5rem;
}
.testimonials .testimonials-wrapper .carousel-testimonial-container #carouselTestimonials .carousel-indicators button {
  background-color: #0d0d0d;
}
.testimonials .testimonials-wrapper .carousel-testimonial-container #carouselTestimonials .carousel-control-prev-icon,
.testimonials .testimonials-wrapper .carousel-testimonial-container #carouselTestimonials .carousel-control-next-icon {
  background: none;
}
.testimonials .testimonials-wrapper .carousel-testimonial-container #carouselTestimonials .testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 35rem;
  margin: auto;
}
.testimonials .testimonials-wrapper .carousel-testimonial-container #carouselTestimonials .testimonial-card__img {
  object-fit: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 2rem auto 1rem auto;
}
.testimonials .testimonials-wrapper .carousel-testimonial-container #carouselTestimonials button > span > i {
  color: black;
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .testimonials {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    margin-top: -0.1rem;
  }
}

.testimonials-svg-bottom {
  margin-top: -0.1rem;
}

.footer {
  padding: 2rem 0;
}
.footer .footer-wrapper {
  flex-wrap: wrap;
}
.footer .footer-wrapper .footer-contact-address {
  margin: 2rem 0;
}
.footer .footer-wrapper .footer-contact-address h5 {
  margin-bottom: 2rem;
}
.footer .footer-wrapper .footer-contact-address ul li i,
.footer .footer-wrapper .footer-contact-address ul li p {
  display: inline-block;
}
.footer .footer-wrapper .footer-contact-address ul li i {
  width: 1rem;
  height: 1rem;
  font-size: 1.2rem;
  margin-right: 0.6rem;
  opacity: 0.6;
}
.footer .footer-wrapper .footer-navigation {
  margin: 2rem 0;
}
.footer .footer-wrapper .footer-navigation h5 {
  margin-bottom: 2rem;
}
.footer .footer-wrapper .footer-navigation li {
  padding-bottom: 1.5rem;
  text-align: right;
}
.footer .footer-wrapper .footer-navigation li a {
  color: inherit;
}

@media (max-width: 601px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .footer .footer-wrapper {
    justify-content: center !important;
    text-align: center;
  }
  .footer .footer-wrapper .footer-contact-addres,
.footer .footer-wrapper .footer-navigation {
    width: 100%;
  }
  .footer .footer-wrapper ul li {
    text-align: center !important;
  }
}
.footer-bottom {
  background: #0d0d0d;
  padding: 1rem 0;
}
.footer-bottom p {
  text-align: center;
  color: #fffaf4;
}

/*# sourceMappingURL=style.css.map */
